Django==5.1
asgiref>=3.8
sqlparse>=0.5
tzdata>=2026
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
drf-spectacular>=0.27
django-filter>=24.0
psycopg2-binary>=2.9
celery>=5.3
redis>=5.0
gunicorn>=22.0
Pillow>=10.0